*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

.esqueletoOff {
    width: 550px;
    height: 600px;
    background-color: rgb(255, 168, 219);
    display: flex;
    align-items: end;
    justify-content: center;
    background-image: url("../img/esqueleto2.png");
}
.esqueletoOff.on{
    background-image: url("../img/esqueleto1.gif");
}

.esqueletoOnOff {
    width: 100px;
    height: 50px;
    background-color:rgb(188, 0, 110);
    border-radius: 1vh;
    border: 0.2rem solid rgb(243, 243, 243);
    position: fixed;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.esqueletoOnOff:hover{
    background-color: aqua;
}
